@import 'themes/themeSettings_green';
// @import 'themes/themeSettings_red';
// @import 'themes/themeSettings_blue';

// Global Fonts

// Global Variables
$backtoTopColor: #fff;
$backtoTopBackground: #333;
$backtoTopBorder: #ccc; 