###
# ECLIPSE IDE project files
##
.project
.cache
.cache/*
.settings
.settings/*

###
# Dreamweaver
###
_notes

###
# system SWAP, TMP and BACKUP files
###
*~
*.swp
*.bak

###
# Windows
###
Thumbs.db

###
# Mac OS X directory preferences
###
.DS_Store
*._

###
# Fusebox
###
parsed/

###
# System
###

settings.ini
config.rb
sass-cache/
*.scssc

*.scssc

www/assets/images/photogallery/images/adminpanelthumbs/Photo2.jpg

www/assets/images/photogallery/images/adminpanelthumbs/Photo2.jpg

www/assets/images/photogallery/images/adminpanelthumbs/Photo3.jpg

www/assets/images/photogallery/images/adminpanelthumbs/Photo3.jpg

www/assets/images/photogallery/images/large/Photo2.jpg

www/assets/images/photogallery/images/large/Photo2.jpg

www/assets/images/photogallery/images/large/Photo3.jpg

www/assets/images/photogallery/images/large/Photo3.jpg

www/assets/images/photogallery/images/original/Photo2.jpg

www/assets/images/photogallery/images/original/Photo3.jpg

www/assets/images/photogallery/images/original/Photo3.jpg

www/assets/images/photogallery/images/thumbnail/Photo2.jpg

www/assets/images/photogallery/images/thumbnail/Photo2.jpg

www/assets/images/photogallery/images/thumbnail/Photo3.jpg

www/assets/images/photogallery/images/thumbnail/Photo3.jpg
