/* CSS Document */
/* ====================================================================================================
	Table of Content
	1. Theme Settings
	2. Typography - Copy into admin.css
	3. Header
	4. Navigation
		a. Navigation
		b. Sub Navigation
	
	5. Content
		a. Homepage Styles
		b. Page Styles

	6 Blog Template
	7. Print Template
	8. Buttons
	9. Footer
	10. Vin65 Overrides
		a. User Tools
		b. Homepage Product Group
		c. Checkout Overrides
		d. Default SASS Product List
		e. Default SASS Product Drilldown
*/
/*   ===================================================================================================
     2. Typography - These get copied into the admin.css
======================================================================================================== */
body {
  background-color: white;
  font-size: 12px;
  color: black;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  line-height: 1.5em;
}

a {
  color: #900;
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, p, table, ul, ol {
  margin-top: 0;
  padding-top: 0;
}

ul, ol, dl, p, table, pre {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Times New Roman", Times, serif;
  font-weight: normal;
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 0.6em;
}
@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
}

h2 {
  font-size: 26px;
  line-height: 1.2;
  margin: 0.25em  0 0.5em;
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 0.6em;
}
@media screen and (max-width: 480px) {
  h3 {
    font-size: 20px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.2;
}

h5 {
  font-size: 14px;
  line-height: 1.5;
}

h6 {
  font-size: 14px;
  line-height: 1.5;
}

img {
  border: none;
}

form {
  margin-bottom: 1em;
}

legend {
  color: #111;
}

hr {
  background-color: #666;
  border: 0;
  color: #666;
  height: 1px;
}

/*   ===================================================================================================
     3. Header
======================================================================================================== */
.header {
  width: 100%;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .header {
    height: 180px;
    position: relative;
  }
}

.logo {
  height: auto;
  display: block;
  text-align: center;
  width: 40%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logo {
    height: 160px;
    float: left;
    width: 240px;
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    height: 160px;
    float: left;
    width: 240px;
    text-align: left;
  }
}
.logo img {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .cart {
    display: none;
  }
}

/*   ===================================================================================================
     4. Navigation
======================================================================================================== */
/* ----- Link to footer navigation ----- */
.menuLink {
  display: none;
}
@media screen and (max-width: 767px) {
  .menuLink {
    color: #000;
    display: block;
    float: left;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding-left: 15px;
    text-shadow: 0 1px 3px rgba(220, 220, 220, 0.5);
  }
}
.menuLink:hover, .menuLink:focus, .menuLink:active {
  text-decoration: none;
}

/* ----- a. Main Menu ----- */
.mainMenu {
  font-size: 13px;
  height: 100%;
  width: 100%;
  z-index: 101;
}
@media screen and (max-width: 767px) {
  .mainMenu {
    clear: both;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mainMenu {
    float: right;
    height: 24px;
    width: 65%;
    position: relative;
    margin: 80px 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  .mainMenu {
    float: right;
    height: 24px;
    width: 640px;
    position: relative;
    margin: 80px 0 30px;
  }
}
.mainMenu ul {
  margin: 0;
  padding: 0;
  display: inline;
  /*home link is hidden for mobile*/
  			/* Option to display the first three items, home is hidden above for mobile
  			@media screen and (max-width: 550px) {
    				li:nth-child(n+5){display:none;
    				}
  			}*/
}
@media screen and (min-width: 768px) {
  .mainMenu ul {
    float: right;
    margin: 0;
    text-align: left;
  }
}
.mainMenu ul li {
  margin: 0;
  padding: 0;
  height: 45px;
  line-height: 45px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .mainMenu ul li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin: 0 25px;
    margin: 0 0 0 35px;
    position: relative;
    display: inline;
  }
}
@media screen and (min-width: 1024px) {
  .mainMenu ul li {
    float: left;
    margin: 0 0 0 55px;
    position: relative;
    display: inline;
  }
}
.mainMenu ul li a {
  color: black;
  display: block;
  height: 44px;
  line-height: 44px;
  margin: 0 8px;
  padding: 0 6px;
  position: relative;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .mainMenu ul li a {
    height: 32px;
    line-height: 32px;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
}
.mainMenu ul li a:hover {
  color: #333333;
  text-decoration: none;
}
.mainMenu ul li:hover ul {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .mainMenu ul li:hover ul {
    display: block;
  }
}
.mainMenu ul li ul {
  background-color: #fff;
  display: none;
  left: -10px;
  position: absolute;
  top: 32px;
  width: 180px;
}
.mainMenu ul li ul li {
  background-color: #fff;
  display: block;
  float: none;
  margin: 0;
  text-align: left;
  width: 180px;
}
.mainMenu ul li ul li a {
  background-color: #fff;
  color: #666;
  display: block;
  float: none;
  height: 28px;
  line-height: 28px;
  margin: 0;
  padding: 0 0 0 10px;
  text-align: left;
  text-transform: none;
  width: 170px;
}
.mainMenu ul li ul li a:hover {
  color: #000;
}
.mainMenu ul li.v65-home {
  display: none;
}
@media screen and (min-width: 1024px) {
  .mainMenu ul li.v65-home {
    display: inline-block;
  }
}
.mainMenu ul li.v65-pageAParent {
  color: black;
}
.mainMenu ul li.v65-selected {
  font-weight: bold;
  text-decoration: underline;
}

/* ----- b. Sub Menu ----- */
.subMenu {
  height: 100%;
  width: 100%;
  clear: both;
}
@media screen and (min-width: 768px) {
  .subMenu {
    border-right: 1px solid #ccc;
    float: left;
    margin: 6% 4% 0 0;
    padding-right: 2%;
    width: 17.8%;
    clear: left;
  }
}
.subMenu ul {
  font-size: 13px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .subMenu ul {
    border-top: 1px solid #999;
  }
}
@media screen and (min-width: 768px) {
  .subMenu ul {
    margin: 0 0 2% 1%;
    padding: 0;
  }
}
.subMenu ul li {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .subMenu ul li {
    border-bottom: 1px solid #999;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .subMenu ul li {
    line-height: 2;
    display: list-item;
  }
}
@media screen and (max-width: 767px) {
  .subMenu ul li a {
    display: block;
    font-size: 1em;
    line-height: 3em;
  }
}
.subMenu ul li ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  border-bottom: 3px solid #CCC;
}
@media screen and (min-width: 768px) {
  .subMenu ul li ul {
    margin-left: 10px;
    width: 160px;
    border: none;
  }
}
.subMenu ul li .v65-pageAParent {
  color: #000;
}
.subMenu ul li .v65-leftSelected {
  color: #000;
  font-weight: bold;
}
@media screen and (max-width: 767px) {
  .subMenu h3 {
    display: none;
  }
}

/*   ===================================================================================================
     5. Content
======================================================================================================== */
.wrapper {
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 950px;
  }
}

/* ----- a. Homepage Styles ----- */
.homepageContent {
  background: #fff;
  box-shadow: 0 0 20px #cccccc;
}

@media screen and (max-width: 480px) {
  .homepageText {
    padding: 3%;
    margin: 0;
  }
}
@media screen and (max-width: 1023px) {
  .homepageText {
    padding: 3%;
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .homepageText {
    float: left;
    width: 55%;
    padding: 3% 3% 3% 2%;
  }
}
@media screen and (min-width: 1024px) {
  .homepageText {
    float: left;
    width: 470px;
    padding: 30px 30px 30px 20px;
    margin: 0 0 20px;
  }
}

.homepageProductGroup {
  border-left: 1px solid #ccc;
  margin: 75px 0 20px;
}
@media screen and (max-width: 480px) {
  .homepageProductGroup {
    padding: 3%;
    margin: 0;
  }
}
@media screen and (max-width: 1023px) {
  .homepageProductGroup {
    padding: 3%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .homepageProductGroup {
    float: left;
    width: 33%;
    padding: 0 3%;
  }
}
@media screen and (min-width: 1024px) {
  .homepageProductGroup {
    float: left;
    width: 400px;
    padding: 0 0 30px 20px;
  }
}
.homepageProductGroup .v65-product-photo {
  width: auto;
  text-align: left;
  margin: 0 auto 2em auto;
}
@media screen and (max-width: 1023px) {
  .homepageProductGroup .v65-product-photo {
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .homepageProductGroup .v65-product-photo {
    float: left;
    text-align: center;
  }
}
.homepageProductGroup .v65-product-photo img {
  max-width: 60%;
}
@media screen and (max-width: 480px) {
  .homepageProductGroup .v65-addToCartCase {
    display: none;
  }
}

#slider {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/* ----- b. Page Styles ----- */
.content {
  background: #fff;
  box-shadow: 0 0 20px #cccccc;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .content {
    box-shadow: none;
    padding: 0;
    border-top: 2px solid #CCC;
  }
}

.contentWide {
  background: #fff;
  box-shadow: 0 0 20px #cccccc;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .contentWide {
    box-shadow: none;
    padding: 3%;
    border-top: 2px solid #CCC;
  }
}
@media screen and (min-width: 768px) {
  .contentWide .subMenu {
    display: none;
  }
}

.contentCart {
  background: #fff;
  box-shadow: 0 0 20px #cccccc;
  padding: 30px;
}
@media screen and (max-width: 767px) {
  .contentCart {
    box-shadow: none;
    padding: 0.2em;
    border-top: 2px solid #CCC;
  }
}

.pageContent {
  float: right;
  width: 75%;
}
@media screen and (max-width: 767px) {
  .pageContent {
    width: 94%;
    padding: 3%;
  }
}

/*   ===================================================================================================
     6. Blog Template
======================================================================================================== */
.blogContent {
  padding: 5%;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .blogContent {
    width: 65%;
    padding: 5%;
    float: left;
  }
}
@media screen and (min-width: 1024px) {
  .blogContent {
    width: 520px;
    padding: 20px 25px 0 0;
    float: left;
  }
}

.blogRightWrapper {
  display: none;
}
@media screen and (min-width: 768px) {
  .blogRightWrapper {
    display: block;
    width: 20%;
    padding: 20px 0 0 0;
    float: right;
  }
}
@media screen and (min-width: 1024px) {
  .blogRightWrapper {
    float: right;
    padding: 20px 0 0 0;
    width: 325px;
  }
}
.blogRightWrapper ul {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
}
.blogRightWrapper ul li {
  font-size: 11px;
  margin: 0 0 0 10px;
}

.blogFilterLeft {
  display: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .blogFilterLeft {
    width: auto;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .blogFilterLeft {
    display: block;
    float: left;
    padding: 0 25px 0 0;
    width: 150px;
  }
}

.blogFilterRight {
  display: none;
}
@media screen and (min-width: 768px) {
  .blogFilterRight {
    width: auto;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .blogFilterRight {
    display: block;
    float: left;
    width: 150px;
  }
}

/*   ===================================================================================================
     7. Print Template
======================================================================================================== */
.printBody {
  background-color: #FFF;
  background-image: none;
  margin: 0;
  padding: 0;
}

.printWrapper {
  margin: 0 auto;
  width: 700px;
}
@media screen and (max-width: 767px) {
  .printWrapper {
    width: 90%;
    padding: 5%;
  }
}
@media screen and (max-width: 480px) {
  .printWrapper {
    font-size: 15px;
    line-height: 1.5em;
  }
}

.printHeader {
  height: 150px;
  width: 700px;
}
@media screen and (max-width: 767px) {
  .printHeader {
    width: 100%;
    height: auto;
  }
  .printHeader img {
    width: 100%;
    height: auto;
  }
}

.printContent {
  text-align: left;
  width: 700px;
}
@media screen and (max-width: 767px) {
  .printContent {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .printContent #v65-cartTable td {
    padding: 6px 4px;
  }
}

/*   ===================================================================================================
     7. Buttons
======================================================================================================== */
button.defaultBtn, button.modalBtn, button.largeBtn {
  background: #336699;
  border: 1px solid #163655;
  border-radius: 0.385em;
  color: #fff;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  min-width: 3em;
}
button.defaultBtn span, button.modalBtn span, button.largeBtn span {
  color: #fff;
  border-radius: 0.385em;
}
button.defaultBtn:hover, button.modalBtn:hover, button.largeBtn:hover {
  background: #407fbf;
}
button.altBtn, button.altModalBtn, button.altLargeBtn {
  background: #cccccc;
  border: 1px solid #888;
  border-radius: 0.385em;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  min-width: 3em;
}
button.altBtn span, button.altModalBtn span, button.altLargeBtn span {
  background: #cccccc;
  border-radius: 0.385em;
}
button.altBtn:hover, button.altModalBtn:hover, button.altLargeBtn:hover {
  background: #e6e6e6;
}
button.altBtn:hover span, button.altModalBtn:hover span, button.altLargeBtn:hover span {
  background: #e6e6e6;
}

a.linkBtn, a.modalLinkBtn, a.largeLinkBtn, a.fullWidthBtn {
  background: #336699;
  border: 1px solid #163655;
  border-radius: 0.385em;
  color: #fff;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  min-width: 3em;
}
a.linkBtn span, a.modalLinkBtn span, a.largeLinkBtn span, a.fullWidthBtn span {
  color: #fff;
  background: #336699;
  border-radius: 0.385em;
}
a.linkBtn:hover, a.modalLinkBtn:hover, a.largeLinkBtn:hover, a.fullWidthBtn:hover {
  background: #407fbf;
  text-decoration: none;
}
a.linkBtn:hover span, a.modalLinkBtn:hover span, a.largeLinkBtn:hover span, a.fullWidthBtn:hover span {
  background: #407fbf;
}
a.fullWidthBtn {
  display: block;
  font-size: 16px;
  max-width: 100%;
  text-align: center;
  width: 100%;
}
a.linkAltBtn, a.modalLinkAltBtn, a.modalLinkAltBtn {
  background: #cccccc;
  border: 1px solid #888;
  border-radius: 0.385em;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  min-width: 3em;
}
a.linkAltBtn span, a.modalLinkAltBtn span, a.modalLinkAltBtn span {
  background: #cccccc;
  border-radius: 0.385em;
  color: #000;
}
a.linkAltBtn:hover, a.modalLinkAltBtn:hover, a.modalLinkAltBtn:hover {
  background: #e6e6e6;
}
a.linkAltBtn:hover span, a.modalLinkAltBtn:hover span, a.modalLinkAltBtn:hover span {
  background: #e6e6e6;
}
a.modalLinkBtn, a.modalLinkAltBtn, a.modalLinkAltBtn {
  min-width: auto;
}

/*   ===================================================================================================
     9. Footer	
======================================================================================================== */
.footer {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    color: black;
    padding: 1.5em 0;
    text-align: center;
  }
}

a {
  color: black;
}

/* Footer Nav
-----------------------------------------------*/
.footerNav {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .footerNav {
    background: none;
  }
}
.footerNav ul {
  border-top: 3px solid #ccc;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .footerNav ul {
    border: none;
    text-align: center;
  }
}
.footerNav ul li {
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .footerNav ul li {
    display: inline;
    padding: 0 5px;
    border: none;
  }
}
.footerNav ul li a {
  font-size: 1em;
  line-height: 3em;
  display: block;
}
@media screen and (min-width: 768px) {
  .footerNav ul li a {
    color: black;
    display: inline-block;
    font-size: 0.917em;
    position: relative;
  }
  .footerNav ul li a:hover {
    color: #333333;
  }
}

/* Mobile Footer Tools
-----------------------------------------------*/
.footerTools {
  background: #000;
  width: 100%;
}
.footerTools ul {
  border-top: 1px solid #555;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footerTools ul {
    border: none;
  }
}
.footerTools ul li {
  line-height: 2.5em;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footerTools ul li {
    border: none;
  }
}
.footerTools ul li img {
  vertical-align: text-top;
}
.footerTools ul li a {
  line-height: 2.5em;
  display: block;
}
@media screen and (min-width: 768px) {
  .footerTools ul li a {
    display: inline-block;
  }
}
@media screen and (min-width: 768px) {
  .footerTools ul li.phone, .footerTools ul li.email, .footerTools ul li.map {
    display: none;
  }
}
.footerTools ul li.legal {
  border-bottom: 0;
  font-size: 0.875em;
  line-height: 3em;
}
@media screen and (max-width: 767px) {
  .footerTools ul li.legal {
    background-color: #000;
    color: #555;
  }
}
@media screen and (min-width: 768px) {
  .footerTools ul li.legal {
    float: left;
    display: block;
  }
}
.footerTools ul li.accolade {
  font-size: 0.875em;
  line-height: 3em;
}
@media screen and (max-width: 767px) {
  .footerTools ul li.accolade {
    background-color: #000;
    color: #555;
  }
}
@media screen and (min-width: 768px) {
  .footerTools ul li.accolade {
    float: left;
    display: block;
  }
}
.footerTools ul li.accolade a {
  color: #555;
}
@media screen and (min-width: 768px) {
  .footerTools ul li.accolade a {
    color: #000;
  }
}
.footerTools a {
  color: #ccc;
}

/*   ===================================================================================================
     10. Vin65 Overrides
======================================================================================================== */
/* ----- b. Homepage Product Group ----- */
.homepageProductGroup .v65-productGroup-products {
  text-align: left;
  width: 100%;
}

/* Heading 2 Styling */
.homepageProductGroup .v65-productGroup-title {
  color: #333;
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  line-height: 1.2;
  margin: 0.25em  0 0.5em;
}
@media screen and (max-width: 480px) {
  .homepageProductGroup .v65-productGroup-title {
    font-size: 22px;
  }
}

.homepageProductGroup .v65-productGroup-teaser {
  float: none;
  margin: 0;
  width: 100%;
}

.homepageProductGroup .v65-productGroup-product {
  margin: 0 0 1em;
  width: 100%;
}

/* ----- c. Checkout Overrides ----- */
#v65-signUpClubSummaryWrapper {
  margin-bottom: 20px;
}

/* ----- Fix for product sorting  ----- */
.v65-product-sortBy {
  float: left;
  text-align: left;
  width: 50%;
}

.v65-product-sortBy form {
  padding: 0;
  margin: 0;
}

.v65-product-sortBy form select {
  width: 130px;
}

/* ----- Fix for overflow on FB sharing widget on mobile  ----- */
@media screen and (max-width: 767px) {
  .v65-socialMediaBar-FacebookLike {
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (max-width: 570px) {
  .v65-product2Up {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .v65-product2Up .v65-product-inventoryMessage {
    display: none;
  }
}
.v65-product2Up .v65-product-addToCart {
  clear: both;
}
@media screen and (max-width: 480px) {
  .v65-product2Up .v65-product-socialBar {
    display: none;
  }
}

.twitterWrapper {
  width: 300px;
  float: left;
  margin: 0 0 20px 20px;
  clear: both;
}
@media screen and (max-width: 767px) {
  .twitterWrapper {
    width: 90%;
    margin: 0 auto;
    padding: 5%;
  }
}

.v65-clubTitle {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
