$backgroundColor: #FFF;
$linkColor: #55736D;

$fontColor: #666;
$fontFamily: Helvetica, sans-serif;

$headingFontFamily: Garamond, Georgia, serif;

$headingColor: #333;
$headingAltColor: #000;

$topLineColor: #84C89A;

$userToolsColor: #000;
$userToolsColorMobile: #fff;
$userToolsBackgroundColorMobile: #000;

$navColor: #666;
$navColorHover: #000;
$navDropDownBackgroundColor: #FAFAFA;
$navDropDownBorderColor: #666;
$navDropDownColor: #666;
$navDropDownColorHover: #000;

$subNavBorder: #ccc;

$contentBackground: none;

$footerColor: #000;
$footerColorHover: #333;

$buttonColor: #84C89A;
$buttonFontColor: #fff;

$altButtonColor: #aaa;
$altButtonFontColor: #fff;

$buttonFontFamily: Helvetica, sans-serif;